.formArea {
    text-align: center;
    margin-top: 40px;
}

.formArea span {
    font-size: 10px;
    display: block;
    color: red;
}
.formArea h4 {
    font-variant: all-petite-caps;
    font-family: sans-serif;
    color: #ca5003;
    font-size: 25px;
}

.formArea span::after{
    content: "!";
}

.formInput {
    margin-top: 5px;
    padding: 7px;
    border: none;
    width: 288px;
    font-size: 12px;
    height: 30px;
    color: #1d2f2f;
    font-weight: 500;
    background-color: #fffaf3;
    border: 1px solid #f3dbd1;
    border-radius: 1px;
}
.formInput:focus{
    outline: none;
}

.formSubmitButton {
    height: 35px;
    width: 288px;
    background-color: #ca0323f0;
    border: none;
    font-size: 16px;
    font-weight: 600;
    color: #f1eade;
    letter-spacing: 0.5px;
    border-radius: 1px;
    margin-top: 6px;
    transition: .3s;
}
.formSubmitButton:hover {
    background-color: #ca213cf0;
}
.formSubmitButton:focus {
    outline: none;
}