.cartManagementArea {
    width: 60%;
    overflow: hidden;
    /* border-left: 2px solid lightgray; */
    padding-left: 25px;
}

.cartArea{
    width: 40%;
    float: left;
    font-size: 18px;
    font-weight: 700;
    font-family: sans-serif;
    color: #484848;
}
.cartArea table {
    border-collapse: collapse;
    width: -webkit-fill-available;
    font-size: 20px;
    font-family: sans-serif;
}
.cartButton {
    max-width: 212px;
    border-radius: 8px;
    border: 1px solid goldenrod;
}
.cartButton:focus{
    outline: none;
}
.cartButton:hover{
    background-color: #ca213cf0;
}

.cartItemArea{
    width: 288px;
    height: 101px;
    margin-bottom: 200px;
    background-color: #fffaf3;
    border: 1px solid lightsalmon;
    display: flex;
    flex-direction: row;
    padding: 5px;
    margin-bottom: 3px;
    justify-content: center;
    border-radius: 20px;
    align-items: center;

}
.itemImage img{
    height: 70px;
    width: 70px;
    border-radius: 50%;
}
.itemInfo {
    width: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    justify-content: start;
    padding: 5px 10px;
    font-size: 10px;
    line-height: 1;
}
.itemInfo .price {
    font-weight: 600;
    color: #901e29;
    font-size: 22px;
    font-family: sans-serif;
}
.itemQuantityManage {
    width: 120px ;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.itemQuantityManage div {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.itemQuantityManage button {
    background-color: transparent;
    border: none;
    margin: 1px;
    font-size: 15px;
}
.itemQuantityManage button:focus {
    outline: none;
}
.itemQuantityManage p {
    margin-bottom: 0px;
    padding: 5px;
    font-size: 20px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 28px;
    width: 28px;
    background-color: rgb(218, 211, 211);
    border-radius: 50%;
}
@media all and (max-width:668px){
    .cartArea{
        margin-left: 5px;
    }
    .cartManagementArea{
        overflow: hidden;
        /* border-left: 2px solid lightgray; */
        padding-left: 25px;
        margin-left: 10px;
        display: flex;
        padding-right: 18px;
        box-shadow: -3px 2px 14px 0px #a69ea3;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
        overflow-y: scroll;
        height: 62vh;
        max-width: 250px;
        border-radius: 5px;
    }
    .cartManagementArea::-webkit-scrollbar {
        width: 5px;
    }
    .checkoutProduct{
        display: flex;
        flex-direction: row;
    }
    .cartItemArea{
        width: 225px;
        height: 75px;
        margin-top: 10px;
        margin-bottom: 200px;
        background-color: #fffaf3;
        border: 1px solid lightsalmon;
        display: flex;
        flex-direction: row;
        padding: 4px;
        margin-bottom: 2px;
        justify-content: center;
        border-radius: 20px;
    }
    
.itemImage img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.itemInfo {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: start;
    padding: 3px 7px;
    font-size: 15px;
    line-height: 0;
}
.itemInfo .price {
    font-weight: 600;
    color: #901e29;
    font-size: 14px;
    font-family: sans-serif;
}
.itemQuantityManage {
    width: 100% ;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.itemQuantityManage div {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.itemQuantityManage button {
    background-color: transparent;
    border: none;
    margin: 1px;
    font-size: 13px;
}
.itemQuantityManage button:focus {
    outline: none;
}
.itemQuantityManage p {
    margin-bottom: 0px;
    padding: 2px;
    font-size: 15px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 28px;
    width: 28px;
    background-color: rgb(218, 211, 211);
    border-radius: 50%;
}
}
